body{
    display: flex;
    flex-direction: column;
    h2{
        align-self: center;;
    }
    align-content: center;
}
.list{
    padding: 30px 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    grid-template-rows: repeat(auto-fit, auto);
    gap:20px;
    a{
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding:20px;
    }

}

.update-product-info{
    padding-left: 10px;
    margin-bottom:5px;
    border:1px solid  rgb(166, 114, 36,0.5);
    border-radius: 10px;
    form{
        display:flex;
        flex-direction: column;
    }
}
img{
    width:100px;
    height:100px;
}
input{
    width:50%;
}