.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
}

.logo {
    width: 200px;
    height: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.main-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    width: 150px; 
    font-size: 1rem; 
    margin: 10px;
}

.button-login {
    background-color: #FFB300;
    color: white;
    margin-right: 10px;
}

.button-register {
    background-color: #FFB300;
    color: white;
}
