table {
    border-collapse: collapse;
    width: 80%;
    table-layout: fixed;
    margin: 20px 0;
    text-align: center;
}

th, td {
    padding: 12px;
    border: 1px solid #a67224;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th:nth-child(1), td:nth-child(1) {
    width: 5%;
}

th:nth-child(2), td:nth-child(2) {
    width: 20%;
}

th:nth-child(3), td:nth-child(3) {
    width: 10%;
}

th:nth-child(4), td:nth-child(4) {
    width: 10%;
}

th:nth-child(5), td:nth-child(5) {
    width: 20%;
}

th:nth-child(6), td:nth-child(6) {
    width: 10%;
}

thead {
    background-color: #fce38a;
}

img{
    width: 100px;
    height: 100px;
}

button {
    padding: 10px;
    width: 75px;
    background-color: #f7f48b;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: #fecea8;
}

.delete{
    background-color: #f38181;
    border-radius: 10px;
}

.delete:hover{
    background-color: #ff2e63;
}

.update{
    margin: 0 10px;
    padding: 10px;
    background-color: #ffcef3;
}

.update:hover{
    background-color: #edb1f1;
}

.operation{
    form{
    margin: 5px 0px;
    }
}