
button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    height: 20px;
    width: 30px;
    color: #fff;
    padding: 3% 6%;
    background-color: #B88E2F;
}
button:hover {
    cursor: pointer;
    background-color: #a67224;
}
.search-box{
    border-top: 1px solid #B88E2F;
    border-bottom: 1px solid #B88E2F;

    width: 70%;
    padding: 3px 10px;
    margin: 10px 0px;
    form{
        display: flex;
    }
    label{
        border: 1px solid #B88E2F;
        width: 80%;
    }
    button{
        width: 10%;
        font-size: xx-small;
        margin-left:5px;
    }
}
.add-product-box{
    border-top: 1px solid #B88E2F;
    border-bottom: 1px solid #B88E2F;
    width: 70%;
    padding: 0px 10px;
    margin: 10px 0px;
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    button{
        font-size: small;
        width: 25%;
        margin-right: 30%;
    }

}
.search-box-category{
    form{
        display: flex;
        flex-wrap: wrap;
    }
    button{
        margin-top: 3px;
    }
}
.update-product-info{
    border: 1px solid #B88E2F;
    border-radius: 10px;
    width: 400px;
}

.main-content {
    margin-left: 18%;
    padding: 30px;
    width: 100%;
}
img{
    width: 200px;
    height: 200px;
}

.deletedMssg {
    width: 50px;
    height: 30px;
    background-color: #B88E2F;
    color: white;
    border-radius: 5px;
    animation: fadeout 1s ease-out;
}
@keyframes fadeout {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0;
        display: none;
    }
}